<div class="modal-dialog address-popup-wrap" [ngClass]="{'hide-left-popup':isoptions == 0 && issize == 0}">
    <div class="modal-content add-comment-popup-content address-popup">
      <div class="modal-header">
        <div class="popup-title-wrap">
          <span>Delivery Address</span>
        </div>
        <button type="button" class="close" (click)="close()">&times;</button>
      </div>
      <div class="modal-body">
        <div class="popup-conent-section">
          <div class="popup-right-section">
            <div class="item-details-wrap">
              <div class="op-new-add-wrap">
              <form novalidate (ngSubmit)="addAddressForm.valid && onSubmit(addAddressForm.value)" name="addAddressForm" #addAddressForm="ngForm">
                <div class="form-group">
                  <label>Business Address Line 1*</label>
                  <input type="text" class="white-input"
                    placeholder="Address 1*"
                    name="businessAddress1"
                    [(ngModel)]="addAddress.businessAddress1"
                    #businessAddress1="ngModel"
                    required
                   >
                   <div *ngIf="businessAddress1.errors && (businessAddress1.dirty || businessAddress1.touched || addAddressForm.submitted)"
                      class="alert alert-danger">
                     <div [hidden]="!businessAddress1.errors.required">
                       Business Address is required
                     </div>
                   </div>
                </div>
  
                <div class="form-group">
                  <label>Business Address Line 2</label>
                  <input type="text" class="white-input"
                   placeholder="Address 2"
                   name="businessAddress2"
                   [(ngModel)]="addAddress.businessAddress2"
                   #businessAddress2="ngModel"
                  >
                </div>
  
                <div class="form-group">
                  <label>Suburb*</label>
                  <input type="text" class="white-input"
                  placeholder="Suburb"
                  name="suburb"
                  [(ngModel)]="addAddress.suburb"
                  #suburb="ngModel" disabled
                  >
                  <div *ngIf="suburb.errors && (suburb.dirty || suburb.touched || addAddressForm.submitted)"
                    class="alert alert-danger">
                    <div [hidden]="!suburb.errors.required">
                      Suburb is required
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>City*</label>
                  <input type="text" class="white-input"
                   placeholder="City"
                   name="city"
                   [(ngModel)]="addAddress.city"
                   #city="ngModel"
                   required
                   >
                   <div *ngIf="city.errors && (city.dirty || city.touched || addAddressForm.submitted)"
                   class="alert alert-danger">
                   <div [hidden]="!city.errors.required">
                     City is required
                   </div>
                 </div>
                </div>

                <div class="form-group">
                  <label>Postal Code*</label>
                  <input type="text" class="white-input"
                    placeholder="Postal Code*"
                    name="postalCode"
                    [(ngModel)]="addAddress.postalCode"
                    #postalCode="ngModel"
                    required
                    disabled
                    >
                    <div *ngIf="postalCode.errors && (postalCode.dirty || postalCode.touched || addAddressForm.submitted)"
                      class="alert alert-danger">
                      <div [hidden]="!postalCode.errors.required">
                        Postal Code is required
                      </div>
                    </div>
                </div>

                <div class="form-group">
                  <label>State*</label>
                  <input type="text" class="white-input"
                  placeholder="State"
                  name="state"
                  [(ngModel)]="addAddress.state"
                  #state="ngModel"
                  disabled
                  required>
                  <div *ngIf="state.errors && (state.dirty || state.touched || addAddressForm.submitted)"
                    class="alert alert-danger">
                    <div [hidden]="!state.errors.required">
                      State is required
                    </div>
                  </div>
                </div>
  
                <div class="form-group">
                  <label>Country*</label>
                  <input type="text" class="white-input"
                  placeholder="Country"
                  name="country"
                  [(ngModel)]="addAddress.country"
                  #country="ngModel"
                  disabled
                  required>
                  <div *ngIf="country.errors && (country.dirty || country.touched || addAddressForm.submitted)"
                    class="alert alert-danger">
                    <div [hidden]="!country.errors.required">
                      Country is required
                    </div>
                  </div>
                </div>
                  <div class="modal-footer">
                   <button type="submit" class="btn btn-primary submit-btn">OK</button>
                   <button type="button" class="btn btn-default cancel-btn" (click)="close()" >Cancel</button>
                 </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>