<!-- Start User Cart Page -->
  <div class="confirm-page-wrapper page-wrapper">
    <div class="cart-page-title page-heading text-center">
      <h2>Order Confirmation</h2>
    </div>
    <div class="op-order-details op-order-info add-info">
      <div class="op-persn-detail op-detail-grid">
        <div class="op-detail-list order-number">
          <label class="op-order-title">Order Number</label>
          <span>ZRKQNQ6</span>
        </div>
        <div class="op-detail-list">
          <label>Total</label>
          <span>$39.51</span>
        </div>
      </div>
      <div class="op-add op-detail-grid">
        <div class="op-order-title">Restaurant Info</div>
        <div class="op-detail-list">
          <label>Venue</label>
          <span>Delhi 6 Authentic Indian Restaurant</span>
        </div>
        <div class="op-detail-list">
          <label>Address</label>
          <span>271 Amherst rd <br> Canning Vale WA 6155</span>
        </div>
        <div class="op-detail-list">
          <label>Phone</label>
          <span>(08) 9456 4783</span>
        </div>
      </div>
      <div class="op-add op-detail-grid">
        <div class="op-order-title">Your Information</div>
        <div class="op-detail-list">
          <label>Name</label>
          <span>Sekar Nagarajan</span>
        </div>
        <div class="op-detail-list">
          <label>Address</label>
          <span></span>
        </div>
        <div class="op-detail-list">
          <label>Phone</label>
          <span>0432980487</span>
        </div>
      </div>
    </div>

    <div class="op-order-details op-order-info">
      <div class="op-detail-grid">
        <div class="op-order-title">Order Information</div>
        <div class="op-detail-list">
          <label>Order Number</label>
          <span>ZRKQNQ6</span>
        </div>
        <div class="op-detail-list">
          <label>Order type</label>
          <span>Pickup</span>
        </div>
        <!-- <div class="op-detail-list">
          <label>Payent method</label>
          <span>Cash</span>
        </div> -->
        <div class="op-detail-list">
          <label>Order date</label>
          <span>27/08/2017 at 18:14</span>
        </div>
        <!-- <div class="op-detail-list">
          <label>Payent method</label>
          <span>27/08/2017 at 18:14</span>
        </div> -->
      </div>
      <div class="op-detail-grid">
        <div class="op-order-title">Payment Information</div>
        <div class="op-detail-list">
          <label>Payment method</label>
          <span>Cash</span>
        </div>
        <div class="op-detail-list">
          <label>Payment date</label>
          <span>27/08/2017 at 18:14</span>
        </div>
        <div class="op-detail-list">
          <label>Payment amount</label>
          <span>$39.51</span>
        </div>
      </div>
      <div class="op-detail-grid">
        <div class="op-order-title">Benefit from this order</div>
        <div class="op-detail-list">
          <label>Coupon Earned</label>
          <span>2</span>
        </div>
        <div class="op-detail-list">
          <label>Loyalty Points Earned</label>
          <span>200</span>
        </div>
      </div>
    </div>

    <div class="op-order-details op-order-table">
      <div class="op-detail-grid">
        <div class="op-order-title">Your Order</div>
        <div class="op-order-list-wrap">
          <div class="order-list-header">
            <div class="order-desc">&nbsp;</div>
            <div class="order-qty">Qty</div>
            <div class="order-unit">Unit Price</div>
            <div class="order-total">Total</div>
          </div>
          <div class="order-list-details">
            <div class="order-desc">Plain Naan [Breads]</div>
            <div class="order-qty">1</div>
            <div class="order-unit">$3.00</div>
            <div class="order-total">$3.00</div>
          </div>
          <div class="order-list-details">
            <div class="order-desc">Mashroom Biriyani [Rice Dishes]</div>
            <div class="order-qty">1</div>
            <div class="order-unit">$3.00</div>
            <div class="order-total">$3.00</div>
          </div>
          <div class="order-list-details">
            <div class="order-desc">Aloo Paneer Tikka (4pcs) [Entree]</div>
            <div class="order-qty">1</div>
            <div class="order-unit">$10.90</div>
            <div class="order-total">$10.90</div>
          </div>
          <div class="order-list-details">
            <div class="order-desc">Chilli Paneer</div>
            <div class="order-qty">1</div>
            <div class="order-unit">$15.50</div>
            <div class="order-total">$15.50</div>
          </div>
        </div>
        <div class="op-order-total-wrap">
          <div class="total-wrap">
            <div class="total-label">Sub Total</div>
            <div class="total-price">$43.90</div>
          </div>
          <div class="total-wrap">
            <div class="total-label">First Customer Discount (10%)</div>
            <div class="total-price">-($4.39)</div>
          </div>
          <div class="total-wrap">
            <div class="total-label">Total Order Amount</div>
            <div class="total-price">$39.51</div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- End User Cart Page -->
