.optionItem {
    font-size: 14px;
    padding: 8px;
}
.marginLeft{
  margin-left: 15%
}
h5 {
  text-align: center;
}
h6 {
  text-align: center;
}
.heading-billing-address-page-inner-js
{
    font-family: 'Montserrat',sans-serif;
    color: #414551;
    font-size: 15px;
    text-align: center;
    display: block;
}
.headingAlignment
{
  text-align: center;
}
.holder-yourorderdetails-section-billing-inner-js
{
    width: 80%;
    height: auto;
    border: 3px solid #CBC7C6;
    padding: 20px 0 0 30px;
    display: inline-block;
    margin: 0 0 5px 120px;
    background: #f9f9f9;
}
.heading-tabs-yourorderrow-inner-details-inner-js
{
    width: 50%;
    height: auto;
    text-align: right;
    font-family: 'Montserrat',sans-serif;
    font-weight: 100;
    color: #414551;
    font-size: 13px;
    display: inline-block;
    padding: 0 0 0 12px;
}
.tabs-yourorderrow-inner-details-inner-js
{
    width: 50%;
    height: auto;
    text-align: right;
    font-family: 'Montserrat',sans-serif;
    font-weight: 100;
    color: #414551;
    font-size: 16px;
    font-weight: 500;
}
.heading-tabs-yourorderrow-inner-details-name-inner-js
{
    width:100%;
    text-align: left;
    font-family: 'Montserrat',sans-serif;
    font-weight: 100;
    color: #414551;
    font-size: 13px;
    display: inline-block;
    padding: 0 0 0 12px;
}
