.rightAlign {
  text-align: right
}

.leftAlign {
  text-align: left
}
.confirmationText {
  font-family: 'Montserrat',sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: #b91319;
  text-align: right;
}
.confirmationHeader {
  text-align: right;
  font-family: 'Montserrat',sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #414551;
}
.confirmationHeaderWran{
  text-align: right;
  font-family: 'Montserrat',sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #b91319;
}
