/**
 * @file
 * SCSS file to generate CSS.
 *
 * All fonts used in SCSS are defined in this file.
 */


/* OpenSans fonts */
@font-face {
  font-family: $opensans-regular;
  src: $url-opensans-regular;
}
/*@font-face {
  font-family: $opensans-extrabold;
  src: $url-opensans-extrabold;
}*/
@font-face {
  font-family: $opensans-bold;
  src: $url-opensans-bold;
}
@font-face {
  font-family: $opensans-semibold;
  src: $url-opensans-semibold;
}
/*@font-face {
  font-family: $opensans-bolditalic;
  src: $url-opensans-bolditalic;
}*/
@font-face {
  font-family: $opensans-italic;
  src: $url-opensans-italic;
}
@font-face {
  font-family: $opensans-light;
  src: $url-opensans-light;
}


@font-face {
  font-family: $century-gothic;
  src: $url-century-gothic;
}
@font-face {
  font-family: $century-gothic-bold;
  src: $url-century-gothic-bold;
}


@font-face {
  font-family: $lusitana-regular;
  src: $url-lusitana-regular;
}


@font-face {
  font-family: $lato-regular;
  src: $url-lato-regular;
}
@font-face {
  font-family: $lato-bold;
  src: $url-lato-bold;
}
@font-face {
  font-family: $lato-light;
  src: $url-lato-light;
}
