.CommentBox {
   width:400px;
   height:60px;
   color:White;
   margin:0 auto;
}
.emailDiv {
   text-align: center;
   width: 42%;
   height: 50px
}
.CommentBox > div {
   margin:0 auto;
   width:250px;
}

input[type="text"] {
   width:400px;
   height: 60px;
   text-align: left;
   color: black;
   font-size: 17px;
}
.button-height {
   height: 60px
}
.divHeight {
   height: 50px;
}

.alignText {
   text-align: center;
}
.widthandMargin {
   width: 42%;
   margin-left: 29%
}
.buttonDiv {
   margin-top: 10px;
   width: 42%
}
.sendPassButton {
   width: 70%;
   float: left;
   height: 50px;
   background-color: #A12A1E;
}
.cancelButton {
   width: 20%;
   float: right;
   height: 50px;
   background-color: #1C1C1C;
}
h2 {
   font-size: 16px
}
