
<!-- Start Page Breadcrumb -->
<div class="my-history-breadcrumb breadcrumb-section">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb frm-sub-signup-brd">
        <li>
          <a href="javascript:void(0);" [routerLink]="['/']">{{commonTxtContentLogin.HOME_TXT}}</a>
        </li>
        <li class="active">Forgot Password</li>
      </ol>
    </div>
  </div>
</div>
<spinner name="loginSpinner"></spinner>
<div class="sign-up-wrapper log-in-wrapper page-wrapper">
    <div class="sign-up-form-wrap log-in-form-wrap alignText">
            <form novalidate (ngSubmit)="loginForm.valid" name="loginForm" #loginForm="ngForm" >
                <div class="form-group">
                    <input type="email" class="white-input"
                           placeholder="Email"
                           required
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                           name="email"
                           [(ngModel)]="login.email"
                           #email="ngModel" class="emailDiv"
                    >
                    <div *ngIf="email.errors && (email.dirty || email.touched || loginForm.submitted)"
                         class="alert alert-danger alignText widthandMargin">
                        <div [hidden]="emailReq">
                            Please enter email address
                        </div>
                        <div [hidden]="invalidEmail">
                            Email is invalid
                        </div>
                    </div>
                    <div [hidden]="!invalidCredentials" class="alert alert-danger">
                        {{validationError.USER_NOT_FOUND_ERR}}
                    </div>
                </div>
                <div class="CommentBox buttonDiv">
                    <button class="button-height sendPassButton signup-btn"
                              (click)="forgotPassword()" ><h2>SEND PASSWORD RESET LINK</h2>
                    </button>
                    <button class="button-height cancelButton signup-btn"
                             ><h2>CANCEL</h2>
                    </button>
                </div>
            </form>
    </div>
</div>
<!-- End Login Page -->
