.add-btn-menu-item{
    float: none;
    display:inline-block;padding:6px 12px;
    border:none;
    background-color:#DB1300;
    color:#FFF;
    font-size:13px;
    font-family:"OpenSans SemiBold"
}
.menu-item-widget-wrapper{
    width: 100%;
    text-align: right;
    padding-top: 12px;
}

.item-price{
    float: left;
    width: 65px;
    padding-top: 4px;
    text-align: center;
    font-size: 16px;
}
.menu-note{
    padding: 10px 10px 5px 25px;
}
.qty-btn{
    border: 1px solid #bbadad;
    border-radius: 20px;
    background: whitesmoke;
    padding-left: 5px;
    color: darkgray;
    padding-right: 5px;
    font-size: 20px;
    font-weight: bold;
}
.qty-value{
    font-size: 14px;
    border: 1px solid #bbadad;
    background: ghostwhite;
    padding-left: 6px;
    color: black;
    top: 2px;
    position: relative;
    padding-right: 6px;
}
.qty-btn-container{
    padding-top: 5px;
}
.add-btn-container{
    text-align: right;
    padding-right: 16px;
}
.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}

/* Other style */
body {
  padding: 2%;
}

p {
  padding: 2%;
  background: #fff9c6;
  color: #c7b27e;
  border: 1px solid #fce29f;
  border-radius: .25em;
}

h3 {
  font-size: 13px;
  color: black;
  font-family:"OpenSans"
}
