.CommentBox {
   width:400px;
   height:60px;
   color:White;
   margin:0 auto;
}

.CommentBox > div {
   margin:0 auto;
   width:250px;
}

input[type="text"] {
   width:400px;
   height: 60px;
   text-align: left;
   color: black;
   font-size: 17px;
}
.button-height {
   height: 60px
}
.alignText {
   text-align: center;
}
.emailDiv {
   text-align: center;
   width: 42%;
   height: 50px
}
.divHeight {
   height: 50px;
}
.widthandMargin {
   width: 42%;
   margin-left: 29%
}
.alignText {
   text-align: center;
}