 <!-- Start About us Page -->

 <div class="page-wrapper about-us-page-wrapper">
 	<div class="aboutsection-1-custom">
		<div class="row">
			
			<div class="col-md-6">
					<div class="about-us-top-image">
						<img class="custom-about-us-top-image" src="../assets/images/about-us-banner1.jpg">
					</div>
			</div>

			<div class="col-md-6">
					<div class="about-us-top-details">
							<h3 class="head-about-page-customchanges">Welcome to <span class="red-span">OrderPoint</span></h3>
							<div class="about-us-top-description">
								<p class="description-aboutcontent-custom-change">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat.</p>
								<p class="description-aboutcontent-custom-change">Duis aute irure dolor in reprehenderit in voluptate velit esse
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat</p>
								<p class="description-aboutcontent-custom-change">Sed ut perspiciats unde omnis iste natus eoor sit voluptatem accusantium doloremque laudantium, totam rem aperiam,</p>
								<p class="description-aboutcontent-custom-change">eaque ipsa quea ab illo inventore veritatis et quasi architecto beatae virae dicta sunt exolucabo. Nemo enim ipsum voluptatem quia voluptas sit aspernatur aut odit aut fugit..</p>
								<p class="description-aboutcontent-custom-change">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
								<p class="description-aboutcontent-custom-change">eaque ipsa quea ab illo inventore veritatis et quasi architecto beatae virae dicta sunt exolucabo. Nemo enim ipsum voluptatem quia voluptas sit aspernatur aut odit aut fugit..</p>
								<p class="description-aboutcontent-custom-change">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							</div>
					</div>
			</div>
		</div>
	 </div>

		
	<!--- <div class="about-us-top-section">
			  <div class="about-us-top-image">
				<img class="custom-about-us-top-image" src="../assets/images/about-us-banner1.jpg">
			  </div>
		
			  <div class="about-us-top-details">
				<h3>Welcome to <span class="red-span">OrderPoint</span></h3>
				<div class="about-us-top-description">
				  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				  consequat.</p>
				  <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
				  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat</p>
				  <p>Sed ut perspiciats unde omnis iste natus eoor sit voluptatem accusantium doloremque laudantium, totam rem aperiam,</p>
				  <p>eaque ipsa quea ab illo inventore veritatis et quasi architecto beatae virae dicta sunt exolucabo. Nemo enim ipsum voluptatem quia voluptas sit aspernatur aut odit aut fugit..</p>
				  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				  <p>eaque ipsa quea ab illo inventore veritatis et quasi architecto beatae virae dicta sunt exolucabo. Nemo enim ipsum voluptatem quia voluptas sit aspernatur aut odit aut fugit..</p>
				  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
			  </div>
	  
		</div> -->
		
    <div class="about-us-vision-wrap customvisonwrap-sec-bg">
      <div class="our-vission-grid">
        <div class="our-vission-image">
          <img src="../assets/images/small-business2.png">
        </div>
        <div class="our-vission-title">Support small Business in their digital transformation</div>
        <div class="our-vission-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation.</div>
      </div>
      <div class="our-vission-grid">
        <div class="our-vission-image">
          <img src="../assets/images/women-empower2.png">
        </div>
        <div class="our-vission-title">Empower women through employment</div>
        <div class="our-vission-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation.</div>
      </div>
      <div class="our-vission-grid">
        <div class="our-vission-image">
          <img class="custom-medal-imagechanges"src="../assets/images/medal2.png">
        </div>
        <div class="our-vission-title">Reduse Carbon Footprint in Food waste and Office waste</div>
        <div class="our-vission-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation.</div>
      </div>
    </div>
    <div class="about-us-content-section">
      <div class="about-content-grid">
	  
		<div class="col-md-6">	
			<div class="about-content-image">
			  <img class="custom-about-content-image1" src="../assets/images/tomato-salad1.jpg">
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="about-content-detail">
			  <h3>Dapibus dignissim.</h3>
			  <div class="about-content-desc">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit.</p>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit.</p>
			  </div>
			</div>
		</div>
      </div>
		<hr style="width: 95%;border-top: 1px solid #ff040426;">
      <div class="about-content-grid">
		<div class="col-md-6">
			<div class="about-content-image">
					<img class="custom-about-content-image1" src="../assets/images/tomato-salad2.jpg">
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="about-content-detail">
			  <h3>Dapibus dignissim.</h3>
			  <div class="about-content-desc">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.</p>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit.</p>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit.</p>
			  </div>
			</div>
		</div>
      </div>
	  <hr style="width: 95%;border-top: 1px solid #ff040426;">
    </div>
	
		<div class="about-us-footer-section">
		  <div class="about-us-footer-warp">
			<h3>OrderPoint</h3>
			<div class="about-footer-sub-title">Morbi varius orci eget dapibus dignissim.</div>
			<div class="about-footer-details">Lorem ipsum dolor sit amet 2003, consectetur adipiscing elit. Morbi accumsan turpis posuere ultricies. Ut nunc justo, faucibus eget elit quis, vehicula rhoncus nulla. Phasellus convallis sem facilisis commodo. Fusce ut molestie turpis. Suspendisse aliquet sed massa in vulputate. Quisque gravida suscipit tincidunt.</div>
		  </div>
		</div>
  </div>
  <!-- End About us Page -->
