 <!-- Start Help Page -->
 <div class="help-page-wrapper page-wrapper">
    <div class="page-heading heading-border">
      <h2 class="custom-head-heplpage-head-change">Help</h2>
      <div class="page-heading-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
    </div>
    <div class="help-page-tab-list">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#support" aria-controls="support" role="tab" data-toggle="tab">Support</a></li>
        <li role="presentation" class="active"><a href="#help" aria-controls="help" role="tab" data-toggle="tab">Help</a></li>
        <li role="presentation"><a href="#faq" aria-controls="faq" role="tab" data-toggle="tab">FAQ</a></li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="support">Support</div>
        <div role="tabpanel" class="tab-pane active" id="help">
          <div class="help-tab-wrap">
            <div class="tab-detail-section">
              <div class="tab-detail-title custom-order-booking-head-heplpage">Order / Booking</div>
              <div class="tab-detail-collapse">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title custom-tabs-styling-helppage">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Aliquam tincidunt mauris eu risus.
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body custom-bodycontent-tab-helppage">Aliquam tincidunt mauris eu risus.</div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                      <h4 class="panel-title custom-tabs-styling-helppage">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Vestibulum actore dapibus neque.
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                      <div class="panel-body custom-bodycontent-tab-helppage">Vestibulum actore dapibus neque.</div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                      <h4 class="panel-title custom-tabs-styling-helppage">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Nunc dignissim risus id metus.
                        </a>
                      </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                      <div class="panel-body custom-bodycontent-tab-helppage">Nunc dignissim risus id metus.</div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                      <h4 class="panel-title custom-tabs-styling-helppage">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                          Praesent placerat risus quis eror.
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                      <div class="panel-body custom-bodycontent-tab-helppage">Praesent placerat risus quis eror.</div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFive">
                      <h4 class="panel-title custom-tabs-styling-helppage">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                          Fusce pellentensque suscipit nibh.
                        </a>
                      </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                      <div class="panel-body custom-bodycontent-tab-helppage">Fusce pellentensque suscipit nibh.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-detail-section">
              <div class="tab-detail-title custom-order-booking-head-heplpage">Food Return</div>
              <div class="tab-detail-collapse">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSix">
                      <h4 class="panel-title custom-tabs-styling-helppage">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                          Aliquam tincidunt mauris eu risus.
                        </a>
                      </h4>
                    </div>
                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                      <div class="panel-body custom-bodycontent-tab-helppage">Aliquam tincidunt mauris eu risus.</div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingSeven">
                      <h4 class="panel-title custom-tabs-styling-helppage">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                          Vestibulum actore dapibus neque.
                        </a>
                      </h4>
                    </div>
                    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                      <div class="panel-body custom-bodycontent-tab-helppage">Vestibulum actore dapibus neque.</div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingEight">
                      <h4 class="panel-title custom-tabs-styling-helppage">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                          Nunc dignissim risus id metus.
                        </a>
                      </h4>
                    </div>
                    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                      <div class="panel-body custom-bodycontent-tab-helppage">Nunc dignissim risus id metus.</div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingNine">
                      <h4 class="panel-title custom-tabs-styling-helppage">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                          Praesent placerat risus quis eror.
                        </a>
                      </h4>
                    </div>
                    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                      <div class="panel-body custom-bodycontent-tab-helppage">Praesent placerat risus quis eror.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-detail-section">
              <div class="tab-detail-title custom-order-booking-head-heplpage">Bonus & Coupons</div>
              <div class="tab-detail-collapse">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTen">
                      <h4 class="panel-title custom-tabs-styling-helppage">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                          Aliquam tincidunt mauris eu risus.
                        </a>
                      </h4>
                    </div>
                    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                      <div class="panel-body custom-bodycontent-tab-helppage">Aliquam tincidunt mauris eu risus.</div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading1">
                      <h4 class="panel-title custom-tabs-styling-helppage">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                          Vestibulum actore dapibus neque.
                        </a>
                      </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                      <div class="panel-body custom-bodycontent-tab-helppage">Vestibulum actore dapibus neque.</div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading2">
                      <h4 class="panel-title custom-tabs-styling-helppage">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                          Nunc dignissim risus id metus.
                        </a>
                      </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                      <div class="panel-body custom-bodycontent-tab-helppage">Nunc dignissim risus id metus.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-detail-section">
              <div class="tab-detail-title custom-order-booking-head-heplpage">Delivery</div>
              <div class="tab-detail-collapse">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading3">
                      <h4 class="panel-title custom-tabs-styling-helppage">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                          Aliquam tincidunt mauris eu risus.
                        </a>
                      </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                      <div class="panel-body custom-bodycontent-tab-helppage">Aliquam tincidunt mauris eu risus.</div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading4">
                      <h4 class="panel-title custom-tabs-styling-helppage">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                          Vestibulum actore dapibus neque.
                        </a>
                      </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                      <div class="panel-body custom-bodycontent-tab-helppage">Vestibulum actore dapibus neque.</div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading5">
                      <h4 class="panel-title custom-tabs-styling-helppage">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                          Nunc dignissim risus id metus.
                        </a>
                      </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                      <div class="panel-body custom-bodycontent-tab-helppage">Nunc dignissim risus id metus.</div>
                    </div>
                  </div>
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading6">
                      <h4 class="panel-title custom-tabs-styling-helppage">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                          Praesent placerat risus quis eror.
                        </a>
                      </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                      <div class="panel-body custom-bodycontent-tab-helppage">Praesent placerat risus quis eror.</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="faq">FAQ</div>
      </div>
    </div>
  </div>
  <!-- End Help Page -->