<!-- Start Press Page -->

<div class="press-section-custon-style no-header-image">    
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 class="heading-page-main-custompress">PRESS</h5>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="col-md-6">
            <h5 class="news-title-custom-head">This is a title</h5>
            <div class="date-wrap datecustom-changes-style">
                <span>Updated:</span>
                <span>May 2, 2017, 05.59 PM IST</span>
              </div>
              <div class="img-wrap">
                <img src="../assets/images/mirror-image1.jpg">
              </div>
              <div class="random-text-wrap-customchanged">
                  <p class="paragraph-news-style">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in minim veniam exercitation</p>
                  <p class="paragraph-news-style">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolor in minim veniam exercitation</p>
                </div>
          </div>  
          
          <div class="col-md-6">
              <h5 class="news-title-custom-head">This is a title</h5>
              <div class="date-wrap datecustom-changes-style">
                  <span>Updated:</span>
                  <span>May 2, 2017, 05.59 PM IST</span>
                </div>
                <div class="img-wrap">
                  <img src="../assets/images/mirror-image2.jpg">
                </div>
                <div class="random-text-wrap-customchanged">
                    <p class="paragraph-news-style">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in minim veniam exercitation</p>
                    <p class="paragraph-news-style">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolor in minim veniam exercitation</p>
                  </div>
            </div> 

            <div class="col-md-6">
                <h5 class="news-title-custom-head">This is a title</h5>
                <div class="date-wrap datecustom-changes-style">
                    <span>Updated:</span>
                    <span>May 2, 2017, 05.59 PM IST</span>
                  </div>
                  <div class="img-wrap">
                    <img src="../assets/images/mirror-image3.jpg">
                  </div>
                  <div class="random-text-wrap-customchanged">
                      <p class="paragraph-news-style">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in minim veniam exercitation</p>
                      <p class="paragraph-news-style">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolor in minim veniam exercitation</p>
                    </div>
              </div> 

              <div class="col-md-6">
                  <h5 class="news-title-custom-head">This is a title</h5>
                  <div class="date-wrap datecustom-changes-style">
                      <span>Updated:</span>
                      <span>May 2, 2017, 05.59 PM IST</span>
                    </div>
                    <div class="img-wrap">
                      <img src="../assets/images/mirror-image4.jpg">
                    </div>
                    <div class="random-text-wrap-customchanged">
                        <p class="paragraph-news-style">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in minim veniam exercitation</p>
                        <p class="paragraph-news-style">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolor in minim veniam exercitation</p>
                      </div>
                </div> 

        </div>

        <div class="col-md-4">
            <h2 class="custom-latest-news-page-presspage">latest <span>news</span></h2>
            <div class="latest-news-content">
                <div class="img-wrap">
                  <img src="../assets/images/press-burger1.jpg">
                </div>
                <h4 class="latest-news-custom-head">Random lipsum generator.</h4>
                <div class="date-wrap latest-newsdate-changestyle">
                  <span>Updated:</span>
                  <span>May 2, 2017, 05.59 PM IST</span>
                </div>
                <p class="details-latestnews-custom">giving information on its origins, as well as a random Lipsum genrator</p>
              </div>
        </div>

        <div class="col-md-4">
            <div class="latest-news-content">
                <div class="img-wrap">
                  <img src="../assets/images/press-burger4.jpg">
                </div>
                <h4 class="latest-news-custom-head">Random lipsum generator.</h4>
                <div class="date-wrap latest-newsdate-changestyle">
                  <span>Updated:</span>
                  <span>May 2, 2017, 05.59 PM IST</span>
                </div>
                <p class="details-latestnews-custom">giving information on its origins, as well as a random Lipsum genrator</p>
              </div>
        </div>

        <div class="col-md-4">
            <div class="latest-news-content">
                <div class="img-wrap">
                  <img src="../assets/images/press-burger2.jpg">
                </div>
                <h4 class="latest-news-custom-head">Random lipsum generator.</h4>
                <div class="date-wrap latest-newsdate-changestyle">
                  <span>Updated:</span>
                  <span>May 2, 2017, 05.59 PM IST</span>
                </div>
                <p class="details-latestnews-custom">giving information on its origins, as well as a random Lipsum genrator</p>
              </div>
        </div>

        <div class="col-md-4">
            <div class="latest-news-content">
                <div class="img-wrap">
                  <img src="../assets/images/press-burger3.jpg">
                </div>
                <h4 class="latest-news-custom-head">Random lipsum generator.</h4>
                <div class="date-wrap latest-newsdate-changestyle">
                  <span>Updated:</span>
                  <span>May 2, 2017, 05.59 PM IST</span>
                </div>
                <p class="details-latestnews-custom">giving information on its origins, as well as a random Lipsum genrator</p>
              </div>
        </div>
      </div>

    </div>





<!--
  <div class="press-page-wrapper page-wrapper">
    <div class="page-heading">
      <h2 class="custom-head-presspage-changes">press</h2>
    </div>
  <div class="pres-page-content">
      <div class="left-content-wrap">
        <div class="as-well-random-wrap press-content-grid">
          <h3 class="custom-head-presspage-changes">As well as a random</h3>
          <div class="press-content">
            <div class="date-wrap">
              <span>Updated:</span>
              <span>May 2, 2017, 05.59 PM IST</span>
            </div>
            <div class="random-text-wrap">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in minim veniam exercitation</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolor in minim veniam exercitation</p>
            </div>
          </div>
        </div>
        <div class="press-content-grid this-title-wrap">
          <h3 class="custom-head-presspage-changes">This is title</h3>
          <div class="press-content">
            <div class="date-wrap">
              <span>Updated:</span>
              <span>May 2, 2017, 05.59 PM IST</span>
            </div>
            <div class="img-wrap">
              <img src="../assets/images/mirror-image1.jpg">
            </div>
            <div class="bottom-content-wrap">
              <h4 class="custom-head-presspage-changes">As well as a random</h4>
              <div class="date-wrap">
                <span>Updated:</span>
                <span>May 2, 2017, 05.59 PM IST</span>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
            </div>
          </div>
        </div>
        <div class="press-content-grid generator-content-wrap">
          <div class="img-wrap">
            <img src="../assets/images/person-image1.jpg">
          </div>
          <div class="bottom-content-wrap">
            <h4>As well as a random Lipsum generator.</h4>
            <div class="date-wrap">
              <span>Updated:</span>
              <span>May 2, 2017, 05.59 PM IST</span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
          </div>
        </div>
      </div>  

      <div class="right-content-wrap">
        <h2 class="custom-latest-news-page-presspage">latest <span>news</span></h2>
        <div class="latest-news-content">
          <div class="img-wrap">
            <img src="../assets/images/press-burger1.jpg">
          </div>
          <h4>Random lipsum generator.</h4>
          <div class="date-wrap">
            <span>Updated:</span>
            <span>May 2, 2017, 05.59 PM IST</span>
          </div>
          <p>giving information on its origins, as well as a random Lipsum genrator</p>
        </div>
        <div class="latest-news-content">
          <div class="img-wrap">
            <img src="../assets/images/press-burger2.jpg">
          </div>
          <h4>Random lipsum generator.</h4>
          <div class="date-wrap">
            <span>Updated:</span>
            <span>May 2, 2017, 05.59 PM IST</span>
          </div>
          <p>giving information on its origins, as well as a random Lipsum genrator</p>
        </div>
        <div class="latest-news-content">
          <div class="img-wrap">
            <img src="../assets/images/press-burger3.jpg">
          </div>
          <h4>Random lipsum generator.</h4>
          <div class="date-wrap">
            <span>Updated:</span>
            <span>May 2, 2017, 05.59 PM IST</span>
          </div>
          <p>giving information on its origins, as well as a random Lipsum genrator</p>
        </div>
      </div>
    </div>-->

        <div class="row">
          <div class="col-md-10 col-md-offsset-1">
              <h2 class="custom-head-viseosection-changed">press <span>videos</span></h2>
          </div>
          <div class="col-md-3">
              <div class="img-wrap1">
                  <img src="../assets/images/press-video1.jpg">
                </div>
                <div class="video-text">
                  <a>As well as a <span>random Lipsum</span> textgenerator.</a>
                </div>
                <div class="date-wrap1">
                    <span class="date-text">Date:</span>
                    <span>March 25, 2017</span>
                 </div>
          </div>

          <div class="col-md-3">
              <div class="img-wrap1">
                  <img src="../assets/images/press-video2.jpg">
                </div>
                <div class="video-text">
                  <a>As well as a <span>random Lipsum</span> textgenerator.</a>
                </div>
                <div class="date-wrap1">
                    <span class="date-text">Date:</span>
                    <span>March 25, 2017</span>
                 </div>
          </div>

          <div class="col-md-3">
              <div class="img-wrap1">
                  <img src="../assets/images/press-video3.jpg">
                </div>
                <div class="video-text">
                  <a>As well as a <span>random Lipsum</span> textgenerator.</a>
                </div>
                <div class="date-wrap1">
                    <span class="date-text">Date:</span>
                    <span>March 25, 2017</span>
                 </div>
          </div>

          <div class="col-md-3">
              <div class="img-wrap1">
                  <img src="../assets/images/press-video4.jpg">
                </div>
                <div class="video-text">
                  <a>As well as a <span>random Lipsum</span> textgenerator.</a>
                </div>
                <div class="date-wrap1">
                    <span class="date-text">Date:</span>
                    <span>March 25, 2017</span>
                 </div>
          </div>


        </div>
            <div class="row">
              <div class="col-md-12">
                <div class="press-page-bottom-text">
                    <p class="description-lastsec-video-style"><strong>Excepteur sint occaecat cupidatat non proident </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                  </div>
              </div>
            </div>
    </div>
  </div>

<!--
    <div class="press-video-content-wrap">
      <h2>press <span>videos</span></h2>
      <div class="press-video-content">      
        <div class="grid">
          <div class="img-wrap">
          <img src="../assets/images/press-video1.jpg">
        </div>
        <div class="video-text">
          <a>As well as a <span>random Lipsum</span> textgenerator.</a>
        </div>
        <div class="date-wrap">
            <span class="date-text">Date:</span>
            <span>March 25, 2017</span>
         </div>
        </div>

          <div class="grid">
            <div class="img-wrap">
              <img src="../assets/images/press-video2.jpg">
            </div>
            <div class="video-text">
              <a>As well as a <span>random Lipsum</span> textgenerator.</a>
            </div>
            <div class="date-wrap">
              <span class="date-text">Date:</span>
              <span>March 25, 2017</span>
            </div>
          </div>

        <div class="grid">
          <div class="img-wrap">
            <img src="../assets/images/press-video3.jpg">
          </div>
          <div class="video-text">
            <a>As well as a <span>random Lipsum</span> textgenerator.</a>
          </div>
          <div class="date-wrap">
            <span class="date-text">Date:</span>
            <span>March 25, 2017</span>
          </div>
        </div>
        
        <div class="grid">
          <div class="img-wrap">
            <img src="../assets/images/press-video4.jpg">
          </div>
          <div class="video-text">
            <a>As well as a <span>random Lipsum</span> textgenerator.</a>
          </div>
          <div class="date-wrap">
            <span class="date-text">Date:</span>
            <span>March 25, 2017</span>
          </div>
        </div>
      </div>
    </div>
  </div>
-->