 <!-- Start Online Order Page -->
 <div class="page-wrapper privacy-policy-wrapper">
    <div class="page-heading heading-border">
      <div class="privacy-title">
        <h2>Privacy Policy</h2>
        <div class="page-heading-summary">Lorem ipsum dolor sit amet</div>
      </div>
      <div class="privacy-dwld-print">
        <a href="javascript:void(0);">
          <img src="../assets/images/pdf-icon.png">
          <p>Download</p>
        </a>
        <a href="javascript:void(0);">
          <img src="../assets/images/print-icon.png">
          <p>Print</p>
        </a>
      </div>
    </div>
    <div class="privacy-policy-detail-wrap">
      <div class="left-section">
        <div class="privacy-policy-point">
          <h3 class="privacy-policy-point-title">1. Privacy Statement</h3>
          <div class="privacy-policy-point-detail">
            <p>1: Ut vitae dapibus mi, vel molestie sem. Sed non urna enim. Integer volutpat lacinia nisi, vel sollicitudin sem condimentum ut.Nulla mattis porttitor nisl in cursus. Mauris sapien tellus, varius id tincidunt sit amet, eleifend in massa. Donec finibus pellentesque euismod.</p>
            <p>2: Ut vitae dapibus mi, vel molestie sem. Sed non urna enim. Integer volutpat lacinia nisi, vel sollicitudin sem condimentum ut.Nulla mattis porttitor nisl in cursus. Mauris sapien tellus, varius id tincidunt sit amet</p>
            <p>3: Ut vitae dapibus mi, vel molestie sem. Sed non urna enim. Integer volutpat lacinia nisi, vel sollicitudin sem condimentum ut.Nulla mattis porttitor nisl in cursus. Mauris sapien tellus, varius id tincidunt sit amet, eleifend in massa. Donec finibus pellentesque euismod. Sed eget auctor purus, et viverra arcu.</p>
          </div>
        </div>
        <div class="privacy-policy-point">
          <h3 class="privacy-policy-point-title">2. Compliance</h3>
          <div class="privacy-policy-point-detail">
            <p>1: Aliquam tincidunt mauris eu risus</p>
            <p>2: Aliquam tincidunt mauris eu risus</p>
            <p>3: Aliquam tincidunt mauris eu risus</p>
            <p>4: Aliquam tincidunt mauris eu risus</p>
            <p>5: Aliquam tincidunt mauris eu risus</p>
            <p>6: Aliquam tincidunt mauris eu risus</p>
            <p>7: Ut vitae dapibus mi, vel molestie sem. Sed non urna enim. Integer volutpat lacinia nisi, vel sollicitudin sem condimentum ut.Nulla mattis porttitor nisl in cursus. Mauris sapien tellus, varius id tincidunt sit amet, eleifend in massa. Donec finibus pellentesque euismod. Sed eget auctor purus, et viverra arcu. Cras a pellentesque tellus, at fermentum leo. Maecenas finibus nibh ante. Fusce justo metus, lobortis quis tempor dapibus, feugiat in velit. Cras a pellentesque tellus, at fermentum leo. Cras a pellentesque tellus, at fermentum leo.Cras a pellentesque tellus, at fermentum leo.</p>
            <p>8: Ut vitae dapibus mi, vel molestie sem. Sed non urna enim. Integer volutpat lacinia nisi, vel sollicitudin sem condimentum ut.Nulla mattis porttitor nisl in cursus. Mauris sapien tellus, varius id tincidunt sit amet, eleifend in massa. Donec finibus pellentesque euismod. Sed eget auctor purus, et viverra arcu. Cras a pellentesque tellus, at fermentum leo. Maecenas finibus nibh ante. Fusce justo metus, lobortis quis tempor dapibus, feugiat in velit</p>
            <p>9: Ut vitae dapibus mi, vel molestie sem. Sed non urna enim. Integer volutpat lacinia nisi, vel sollicitudin sem condimentum ut.Nulla mattis porttitor nisl in cursus.</p>
          </div>
        </div>
      </div>
      <div class="right-section">
        <div class="privacy-policy-point">
          <h3 class="privacy-policy-point-title">3. Monitoring and Enforcement</h3>
          <div class="privacy-policy-point-detail">
            <p>1: Ut vitae dapibus mi, vel molestie sem. Sed non urna enim. Integer volutpat lacinia nisi, vel sollicitudin sem condimentum ut.Nulla mattis porttitor nisl in cursus. Mauris sapien tellus, varius id tincidunt sit amet, eleifend in massa. Donec finibus pellentesque euismod. Sed eget auctor purus, et viverra arcu.</p>
            <p>2: Ut vitae dapibus mi, vel molestie sem. Sed non urna enim. Integer volutpat lacinia nisi, vel sollicitudin sem condimentum ut.Nulla mattis porttitor nisl in cursus.</p>
          </div>
        </div>
        <div class="privacy-policy-point">
          <h3 class="privacy-policy-point-title">4. Web User Tracking - IP Addresses</h3>
          <div class="privacy-policy-point-detail">
            <p>Ut vitae dapibus mi, vel molestie sem. Sed non urna enim. Integer volutpat lacinia nisi, vel sollicitudin sem condimentum ut.Nulla mattis porttitor nisl in cursus. Mauris sapien tellus, varius id tincidunt sit amet, eleifend in massa. Donec finibus pellentesque euismod. Sed eget auctor purus, et viverra arcu. Cras a pellentesque tellus, at fermentum leo.</p>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              <li>Mauris non velit at ex tincidunt fermentum eget ac orci</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              <li>Mauris non velit at ex tincidunt fermentum eget ac orci</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              <li>Mauris non velit at ex tincidunt fermentum eget ac orci</li>
            </ul>
            <p>Ut vitae dapibus mi, vel molestie sem. Sed non urna enim. Integer volutpat lacinia nisi, vel sollicitudin sem condimentum ut.Nulla mattis porttitor nisl in cursus. Mauris sapien tellus, varius id tincidunt sit amet, eleifend in massa. Donec finibus pellentesque euismod. Sed eget auctor purus, et viverra arcu. Cras a pellentesque tellus, at fermentum leo. Maecenas finibus nibh ante. Fusce justo metus, lobortis quis tempor dapibus, feugiat in velit</p>
          </div>
        </div>
        <div class="privacy-policy-point">
          <h3 class="privacy-policy-point-title">5. Billing Information</h3>
          <div class="privacy-policy-point-detail">
            <p>Ut vitae dapibus mi, vel molestie sem. Sed non urna enim. Integer volutpat lacinia nisi, vel sollicitudin sem condimentum ut.Nulla mattis porttitor nisl in cursus. Mauris sapien tellus, varius id tincidunt sit amet, eleifend in massa. Donec finibus pellentesque euismod. Sed eget auctor purus, et viverra arcu. Cras a pellentesque tellus, at fermentum leo. Maecenas finibus nibh ante. Fusce justo metus, lobortis quis tempor dapibus, feugiat in velit.Ut vitae dapibus mi, vel molestie sem. Sed non urna enim. Integer volutpat lacinia nisi, vel sollicitudin sem condimentum ut.Nulla mattis porttitor nisl in cursus. Mauris sapien tellus, varius id tincidunt sit amet, eleifend in massa. Donec finibus pellentesque euismod. Sed eget auctor purus, et viverra arcu. Cras a pellentesque tellus, at fermentum leo. Maecenas finibus nibh ante. Fusce justo metus, lobortis quis tempor dapibus, feugiat in velit</p>
            <p>Ut vitae dapibus mi, vel molestie sem. Sed non urna enim. Integer volutpat lacinia nisi, vel sollicitudin sem condimentum ut.Nulla mattis nisl in cursus. Mauris sapien tellus, varius id tincidunt sit amet, eleifend in massa. Donec finibus pellentesque euismod. Et viverra arcu. Cras a pellentesque tellus, at fermentum leo. Maecenas finibus nibh ante.</p>
          </div>
        </div>
      </div>
      <div class="privacy-policy-release-wrap">
        <div class="release-date">Version Number : V1.2  |  Date of Release : 02 May 2017</div>
      </div>
    </div>
  </div>
  <!-- End My Online Order Page -->