 <!-- Start Online Order Page -->
 <div class="page-wrapper privacy-policy-wrapper terms-cond-page-wrapper">
    <div class="page-heading heading-border">
      <div class="privacy-title">
        <h2 class="custom-terms-page-change-head">Privacy Policy</h2>
        <div class="page-heading-summary custom-terms-page-change-desc">Lorem ipsum dolor sit amet</div>
      </div>
      <div class="privacy-dwld-print">
        <a href="javascript:void(0);">
          <img src="../assets/images/pdf-icon.png">
          <p>Download</p>
        </a>
        <a href="javascript:void(0);">
          <img src="../assets/images/print-icon.png">
          <p>Print</p>
        </a>
      </div>
    </div>
    <div class="terms-cond-details">
      <div class="terms-cond-section-wrap">
        <div class="terms-cond-title">1. General</div>
        <div class="terms-cond-description custom-desc-changed-para-termspage">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <span class="bold-text">Excepteur sint occaecat</span> cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          <p>eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae <a href="javascript:void(0);">dicta sunt explicabo.</a></p>
          <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
      </div>
      <div class="terms-cond-section-wrap">
        <div class="terms-cond-title">2. Services</div>
        <div class="terms-cond-description custom-desc-changed-para-termspage">
          <p> Cras fringilla, ipsum vitae ullamcorper efficitur, ante mauris mattis diam, ut gravida ante enim eu elit. In hendrerit, orci nec aliquam tristique, nunc mauris auctor quam, at consectetur nisl nibh at neque. Pellentesque ac nisl luctus</p>
          <p><span class="bold-text">Donec tristique facilisis magna ac imperdiet. Etiam gravida nisi id iaculis vehicula. Nullam mattis est quis velit placerat molestie.</span> Nulla facilisi. Nunc dignissim libero at luctus euismod.</p>
          <p>Pellentesque tempus maximus est, id dictum purus volutpat dictum. Aliquam nisi ex, pretium et tellus non, rutrum eleifend ex. Praesent semper maximus elit. Curabitur eu lorem augue.</p>
        </div>
      </div>
      <div class="terms-cond-section-wrap">
        <div class="terms-cond-title">3. Email</div>
        <div class="terms-cond-description custom-desc-changed-para-termspage">
          <p> Cras fringilla, ipsum vitae ullamcorper efficitur, ante mauris mattis diam, ut gravida ante enim eu elit. In hendrerit, orci nec aliquam tristique, nunc mauris auctor quam, at consectetur nisl nibh at neque. Pellentesque ac nisl luctus</p>
          <div class="terms-ul-text">
            <p>- Nunc blandit massa lorem. Interdum et malesuada fames ac ante</p>
            <p>- Nunc blandit massa lorem. Interdum et malesuada fames ac ante</p>
            <p>- Nunc blandit massa lorem. Interdum et malesuada fames ac ante</p>
          </div>
          <p> Cras fringilla, ipsum vitae ullamcorper efficitur, ante mauris mattis diam, ut gravida ante enim eu elit. In hendrerit, orci nec aliquam tristique, nunc mauris auctor quam, at consectetur nisl nibh at neque. Pellentesque ac nisl luctus</p>
          <div class="terms-ul-text">
            <p>- Nunc blandit massa lorem. Interdum et malesuada fames ac ante</p>
            <p>- Nunc blandit massa lorem. Interdum et malesuada fames ac ante</p>
            <p>- Nunc blandit massa lorem. Interdum et malesuada fames ac ante</p>
          </div>
        </div>
      </div>
      <div class="terms-cond-section-wrap">
        <div class="terms-cond-title">4. Service Fees / Payment / Invoices</div>
        <div class="terms-cond-description custom-desc-changed-para-termspage">
          <p>Maecenas sit amet eleifend lacus, a tincidunt massa. Vestibulum efficitur viverra tempus. Maecenas vitae nisl hendrerit, pellentesque sem sit amet, aliquet turpis. Praesent ante enim, tristique nec dictum eu, sollicitudin a nisl. <span class="bold-text">Phasellus lacinia placerat feils eget auctor.</span></p>
          <p>Cras fringilla, ipsum vitae ullamcorper efficitur, ante mauris mattis diam, ut gravida ante enim eu elit. Sed quam est, porta id nunc in, congue ornare ante. Quisque nec mauris vestibulum, placerat nunc ac, sodales justo. Nulla placerat molestie erat. <a href="javascript:void(0);">Pellentesque</a> tempus maximus est, id dictum purus volutpat dictum.  Aliquam nisi ex, pretium et tellus non, rutrum eleifend ex. Praesent semper maximus elit.</p>
        </div>
      </div>
      <div class="terms-cond-section-wrap">
        <div class="terms-cond-title">5. Cancel Order / Refund Policy</div>
        <div class="terms-cond-description custom-desc-changed-para-termspage">
          <p>Nulla quis blandit augue, at placerat erat. Sed lorem risus, tempor tincidunt pulvinar at, ornare et dolor. Mauris in lacus lectus. Etiam ac posuere nunc. Mauris augue augue, interdum nec lobortis vitae, eleifend ut nunc. Aliquam non arcu porttitor quam ornare volutpat vitae pellentesque lacus</p>
          <p>Etiam eget scelerisque urna. Fusce quis mollis nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce nec cursus dui, a efficitur leo. Praesent nisl mauris, sollicitudin nec auctor sed, scelerisque sed felis.</p>
        </div>
      </div>
      <div class="terms-cond-section-wrap">
        <div class="terms-cond-title">6. Reservation of Rights</div>
        <div class="terms-cond-description custom-desc-changed-para-termspage">
          <p>Curabitur eu lorem augue. Duis tincidunt, turpis vitae semper cursus, ante dolor condimentum ipsum, et consectetur est tortor nec ex. Duis sit amet tincidunt magna. Etiam eget scelerisque urna. Fusce quis mollis nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce nec cursus dui.</p>
          <p>Maecenas sit amet eleifend lacus, a tincidunt massa. Vestibulum efficitur viverra tempus. Maecenas vitae nisl hendrerit, pellentesque sem sit amet, aliquet turpis. <span class="underline-text">Morbi vel metus nec mauris faucibus maximus. Suspendisse eleifend odio quis finibus vehicula.</span></p>
          <p>Nulla quis blandit augue, at placerat erat. Sed lorem risus, tempor tincidunt pulvinar at, ornare et dolor. Mauris in lacus lectus. Etiam ac posuere nunc</p>
        </div>
      </div>

      <div class="terms-cond-section-wrap">
        <div class="terms-cond-title">7. Reservation of Rights</div>
        <div class="terms-cond-description custom-desc-changed-para-termspage">
          <div class="terms-ol-text">
            <p>6.1.1. Integer finibus lacus sed risus dapibus, in blandit est semper.</p>
            <p>6.1.2. Integer finibus lacus sed risus dapibus, in blandit est semper.</p>
            <p>6.1.3. Integer finibus lacus sed risus dapibus, in blandit est semper.</p>
            <p>6.2.1. Integer finibus lacus sed risus dapibus, in blandit est semper.</p>
            <p>6.2.2. Integer finibus lacus sed risus dapibus, in blandit est semper.</p>
            <p>6.3. Integer finibus lacus sed risus dapibus, in blandit est semper.</p>
            <p>6.4. Integer finibus lacus sed risus dapibus, in blandit est semper.</p>
            <p>6.5. Integer finibus lacus sed risus dapibus, in blandit est semper.</p>
            <p>6.6. Integer finibus lacus sed risus dapibus, in blandit est semper.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End My Online Order Page -->